html {
  background-color: rgb(36, 33, 33);
}
#root {
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #646cffaa;
}

.queue {
  display: inline-grid;
  margin-left: 1rem;
  padding: 2rem;
  grid-template-columns: 200px;
  outline: 1px solid rgb(226, 150, 9);
}
section {
  margin-top: 2rem;
}
.items {
  outline: 1px solid aqua;
  margin-top: 0.5rem;
  color: orange;
  font-size: 1.5rem;
}

input {
  padding: 1rem;
  width: 30%;
  font-size: 1rem;
}
button {
  padding: 1rem;
  margin-left: 1rem;
}